<br>
    <mat-accordion>
            <mat-expansion-panel *ngFor = "let post of Posts$ | async">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{post.title}}
                    </mat-panel-title>
                </mat-expansion-panel-header> 
                <h3>body:</h3>{{post.body}} <br>
                <div> 
                <button mat-raised-button color="primary" (click)="deletePost(post.id)" style="background-color:red">Delete</button> &nbsp;&nbsp;
                
                <button mat-raised-button color="primary" (click)="addLikes(post.id,post.like)">Like!</button> 
                <br><h4>Number Of Likes: {{post.like}}</h4>
                </div>
                
            </mat-expansion-panel>
    </mat-accordion>
        