<div class="create-form">
  <h1>Login:</h1>
  <form #LoginForm= "ngForm" (ngSubmit)="Login()">
      <label><b>Email:</b></label><br>
      <mat-form-field>    
          <input matInput [(ngModel)] = "email" 
            type="text" 
            #user_email
            name = "email"
            placeholder="Enter your email"
            required>
        </mat-form-field>
        <br><br>
    <label><b>Password:</b></label><br>
      <mat-form-field>
        <input matInput [(ngModel)] = "password" 
          type="password" 
          #user_password
          name = "password"
          placeholder="Enter your password:"
          required>
      </mat-form-field>
      <br><br>
        
        <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!LoginForm.valid"> Enter </button>
  </form>
</div>