<mat-accordion>
        <mat-expansion-panel *ngFor = "let post of Posts$">
                <mat-expansion-panel-header>
                        <mat-panel-title>
                                <b>{{post.id}}. </b>  {{post.title}}
                        </mat-panel-title>
                </mat-expansion-panel-header> 
        <b>Body</b> <br>{{post.body}} <br><br>
        <b>Comments</b>
        <div *ngFor="let comment of Comments$">
                <div *ngIf = "comment.postId == post.id;other"> {{comment.body}}</div>
        </div>  
        <div>
                <button mat-raised-button color="primary" (click)="addPosts(post.title,post.body,post.id)" >Save</button>
        </div>
                <h3 *ngIf = "post.id == postId">{{info}}</h3>
        </mat-expansion-panel>
    </mat-accordion>